* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #eec9d2;
    font-family: 'Source Sans Pro', sans-serif;
}
em {
    font-style: italic;
}
a {
    text-decoration: none;
    color: black;
    font-size: 7vmax;
    font-style: italic;
    font-family: 'Permanent Marker', sans-serif;
}
/* Navigation Styling */
li {
    list-style-type: none;
    justify-self: center;
    align-self: center;
}
nav {
    width: 100%;
    text-align: center;
}
nav a {
    display: block;
    padding: 15px 15px;
    padding-right: 30px;
}
nav a:hover {
    color: orangered;
    transition: 0.1s;
}
#menu-toggle {
    display: none;
}
#menu-toggle:checked ~ .menu {
    position: fixed;
    left: 0;
}
.button{
    size: 100%;
    position: fixed;
    cursor: pointer;
    margin: 1%;
    padding: 1%;
    right: 2%;
    top: 6%;
    z-index: 100;
    border: solid;
    border-color: rgba(255,255,255,0.7);
    border-width: thin;
    border-radius: 10px;
    background-color: rgba(249, 244, 244,0.4);
    opacity: 70%;
    justify-content: center;
}
.button:hover{
    color: orangered;
}
#button-line {
    width: 40px;
    height: 6px;
    background-color: black;
    margin: 7px;
    transition: 0.5s;
    z-index: 100;
}
#button-text {
    margin: 7px;
    z-index: 100;
}

/* Button animation */ 
/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-8px, 8px) ;
}
/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}
/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-9px, -6px);
    transform: rotate(45deg) translate(-8px, -8px) ;
}
/* Button Animation end*/

.menu {
    width: 30vw;
    height: 100vh;
    position: fixed;
    background-color: #f9f4f4;
    top: -1vw;
    left: -29vw;
    transition: all .4s ease-in-out;
    z-index: 70;
    margin-bottom: 5%;
}
.nav-grid-container {
    display: grid;
    height: 80vh;
    grid-template-columns: minmax(100%, 40vw);
    grid-template-rows: repeat(5, minmax(20vh, 100%)); 
    grid-template-areas:
        "top-l"
        "who"
        "why"
        "what"
        "links";
}
#top-link {
    grid-area: top-l;
}
#who-link {
    grid-area: who;
}
#why-link {
    grid-area: why;
}
#what-link {
    grid-area: what;
}
#links-link {
    grid-area: links;
}
#menu-button {
    grid-area: m;
}
/*Navigation styling end*/

/* Border styling */
html:before,html:after,body:before,body:after{
    content:"";
    background:#f9f4f4;
    position:fixed;
    display:block;
    z-index:1;
}
html:before{
    height:1vw;
    left:0;
    right:0;
    top:0;
    z-index:1;
}
html:after{
    width:1vw;
    top:0;
    right:0;
    bottom:0;
    z-index:200;
}
body:before{
    height:1vw;
    right:0;
    bottom:0;
    left:0;
    z-index: 1;
}
body:after{
    width:1vw;
    top:0;
    bottom:0;
    left:0;
    z-index:200;
}
/* Border Styling end */

/* Header styling, page 1 */
.header{
    margin: 5% 0% 5% 0%;
    padding: 5% 20% 10% 10%;
}
.htext{
    margin-left: 7%;
}
#hello {
    position: relative;
    font-family: 'Heebo', sans-serif;
    font-size: 7em;
    text-transform: uppercase;
    letter-spacing: 8px;
    line-height: 4vw;
    z-index: 60;
}
#hello::before { 
  display: block; 
  content: " "; 
  margin-top: -285px; 
  height: 285px; 
  visibility: hidden; 
  pointer-events: none;
}
#mynameis {
    position: relative;
    font-family: 'Heebo', sans-serif;
    font-size: 4vh;
    text-transform: lowercase;
    letter-spacing: 1.5vw;
    font-weight: bold;
    border-bottom: thin dashed;
    z-index: 60;
    padding: 1vh 0 0 0.5vw;
}
#name{
    position: relative;
    transform: rotate(-2deg); 
    font-style: italic;
    font-family: 'Permanent Marker', sans-serif;
    font-size: 15vw;
    z-index: 60;
    opacity: 0.9;
    padding-top: 2%;
    left: -1vw;
    text-align: right;
    right: -10;
}
/* Page 2 */
#portrait {
    transform: scaleX(-1);
    position: relative;
    padding-right: 4vw;
    z-index: -1;
    width: 90%;
    height: auto;
}  
.text {
    position: relative;
    margin-top: 15vh;
    padding: 5% 20% 10% 20%;
    font-family: 'Monserrat', sans-serif;
    font-size: 1em;
    letter-spacing: 0.1em;
    line-height: 1.5em;
    margin: 10%;
    border-bottom: thin dashed;
}
#who-text a {
    font-size: 1.3em;
    text-transform: capitalize;
}
#who-text a:hover {
    color: orangered;
    transition: 0.1s;
}
/* Page 3 */
.why-logo{
    margin: auto;
}
#why-q {
    position: absolute;
    color: #f9f4f4;
    font-size: 15em;
    left: 15%;
}
#why {
    position: absolute;
    color: black; 
    font-size: 2em;
    padding-top: 8.7%;
    letter-spacing: 5px;
    left: 21%;
    font-family: 'Yantramanav', sans-serif;
    z-index: 60;
}
#why-text{
    float: right;
    margin: 0% 10% 10% 40%;
    padding-top: 5%; 
    font-size: 1em;
    font-family: 'Monserrat', sans-serif;
    letter-spacing: 0.1em;
    line-height: 1.5em;
    display: block;
}
/* Page 4 */

#what-heading{
    border-top: thin dashed black;
    margin: 60% 10% 10% 10%;
    padding: 10% 10% 0% 10%;
    text-transform: lowercase;
    font-family: 'Heebo', sans-serif;
    font-size: 5em;
    letter-spacing: 5px;
    text-align: center;
    line-height: 0.8;
    position: relative;
    z-index: 60;
}
#what-now {
    font-size: 1em;
    font-family: 'Monserrat', sans-serif;
    letter-spacing: 0.1em;
    line-height: 1.5em; 
    padding: 0% 10% 10% 10%;
    border-bottom: thin dashed black;
    margin: 0% 10% 0% 10%;
}

/* Page 5 Links & Info */
.page5{
    margin: 5% 15% 0% 15%;
    font-family: 'Monserrat', sans-serif;
    letter-spacing: 0.1em;
    line-height: 1.5em;
}
.page5 a{
    font-size: 2rem;
}
.page5 a:hover{
    color: orangered;
    transition: 0.1s;
}
#info-heading{
    font-family: 'Yantramanav', sans-serif;
    text-transform: uppercase;
    font-size: 5em;
    position: relative;
    z-index: 60;
}
#info-text a {
    font-size: 1.3em;
    text-transform: capitalize;
}
#info-text a:hover {
    color: orangered;
    transition: 0.1s;
}
#links-table{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 14%;
    padding: 10%;
    position: relative;
    z-index: 60;
}